<table>
    <tr>
        <a href="/">Back</a>
    </tr><br/><br/>
    <tr>
        <td>
            <p>This is a platform for Stevens’s members for trading the products.
                A user with valid Stevens email will be able to access the application where the user can Buy or Sell a product (new or used product).
                This will help the Stevens community especially the students who look for options to buy a product or publish the product to sell to their fellow students, staff or faculty who are looking for similar options.</p>
        </td>
    </tr>
</table>
<style>
    a {
        color: #FFFFFF;
    }
</style>