<p>TradeLink is a platform for Stevens’ members to trade products.  A user with a
valid Stevens email will be able to access the application where the user can
buy or sell products.  This will help the Stevens community, especially
students, to look for options when buying or selling a product with fellow
students, staff, or faculty.</p>

<link rel="stylesheet" href="../public/css/about.css">
