<table class="tableBorder" style="padding-right: 20px; width: 100%;">
    <tr>
        <td>
            <strong><a href="/login">Login</a></strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong><a href="/signup">Sign Up</a></strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong><a href="/about">About us</a></strong>
        </td>
    </tr>
</table>

<link rel="stylesheet" href="public/css/mainHomeScreen.css">