<table style="padding-right: 20px; width: 100%;">
    <!--<tr>
        <td>
            <a href="/login">Login</a>
        </td>
        <td>
            <a href="/signup">Sign Up</a>
        </td>
        <td>
            <a href="/about">About us</a>
        </td>
    </tr>-->
    <tr>
        <td>
            <strong><a href="/login">Login</a></strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong><a href="/signup">Sign Up</a></strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong><a href="/about">About us</a></strong>
        </td>
    </tr>
</table>
<style>
    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }

    tr {
        text-align: center;
    }

    td {
        padding: 30px 0;
    }

    a {
        /*color: black;*/
        font-size: 1.5em;
        color: #87CEEB;
        /*color: #3399ff;*/
    }
</style>