<div>
    <table style="width: 100%">
        <tr>
            <td style="padding-left: 80px">
                <h2 id = "helloLabel">Hello, {{user.firstName}}</h2>
            </td>
            <td>
                <strong><a href="/logout"><h3>Sign out</h3></a></strong>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 80px">
                <input type="hidden" id="userid" name="userid" value="{{user._id}}">
                <div class="innerDiv">
                    <strong><a href="/sell/sellProduct">Sell a product</a></strong>
                </div>
                <div class="innerDiv">
                    <strong><a href="/browse">Browse products</a></strong>
                </div>
                <div class="innerDiv">
                    <strong><a href="/products">My Products</a></strong>
                </div>
                <div class="innerDiv">
                    <strong><a href="/updateProfile">Update Profile</a></strong>
                </div>
            </td>
            <td>
                <img src="/{{user.imagePath}}" alt="userprofilepic" style="width: 100px; height: 100px"/>
            </td>
        </tr>
    </table>
</div>

<style>
    .outerDiv {
        display: flex;
    }

    .innerDiv {
        flex: 1;
        padding: 1em;
        padding-left: 80px
    }
</style>
