<table align="center">
    <tr>
        <td>
            <h1>Thank you for Signing up!</h1>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/login"><h2>Click here to Login</h2></a>
        </td>
    </tr>
</table>