<table>
    <tr>
        <td>
            <a href="/login">Login</a>
        </td>
        <td>
            <a href="/signup">Sign Up</a>
        </td>
        <td>
            <a href="/about">About us</a>
        </td>
    </tr>
</table>
<style>
    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }

    td {
        padding: 10px 0;
    }
</style>